@tailwind base;
@tailwind components;
@tailwind utilities;



.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.gallery-item img {
  width: 200px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.gallery-item:hover .overlay {
  display: flex; /* Show overlay when hovering over the image */
  opacity: 1; /* Fade in the overlay */
}

.user-name,
.feedback {
  margin-bottom: 5px;
}




.breadcrumbs > ul > li + *:before, .breadcrumbs > ol > li + *:before {
  content: "";
  margin-left: 1rem;
  margin-right: 1rem;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0.4;
  border-top: 2px solid;
  border-right: 2px solid;
  background-color: transparent;
}